## Get the data

In [2]:
import pandas as pd
import numpy as np

In [3]:
movies = pd.read_csv("https://gist.githubusercontent.com/tiangechen/b68782efa49a16edaf07dc2cdaa855ea/raw/0c794a9717f18b094eabab2cd6a6b9a226903577/movies.csv")

In [4]:
movies

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
...,...,...,...,...,...,...,...,...
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

In [5]:
movies = movies[['Film','Genre']]

In [6]:
movies.index = movies.index + 1
movies['movie_id']=movies.index

C:\Users\user\AppData\Local\Temp\ipykernel_19624\2771457065.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['movie_id']=movies.index

In [7]:
movies.head()

                                 Film    Genre  movie_id
1          Zack and Miri Make a Porno  Romance         1
2                     Youth in Revolt   Comedy         2
3  You Will Meet a Tall Dark Stranger   Comedy         3
4                        When in Rome   Comedy         4
5               What Happens in Vegas   Comedy         5

In [8]:
#users = list(np.arange(1, 501, size=1000))
users = list(np.random.randint(1, 504, size=1000))
movie_ratings = list(np.random.randint(1, 6, size=1000))
id_ = list(np.random.randint(1, 78, size=1000))

In [9]:
data = {'id': users,
        'Ratings': movie_ratings,
        'movies_id': id_}

In [10]:
ratings = pd.DataFrame(data)
ratings.head()

    id  Ratings  movies_id
0  410        1         45
1  149        4         71
2  273        2         20
3  262        2         69
4  236        4         77

In [11]:
ratings

      id  Ratings  movies_id
0    410        1         45
1    149        4         71
2    273        2         20
3    262        2         69
4    236        4         77
..   ...      ...        ...
995  421        2         40
996  317        4         34
997  186        3         20
998  485        4         31
999  447        4         64

[1000 rows x 3 columns]

In [12]:
ratings.to_csv(r'..\data\raw\ratings.csv', index=False)
movies.to_csv(r'..\data\raw\movies.csv', index=False)