In [1]:
import pandas as pd
import numpy as np

In [2]:
movies = pd.read_csv(r'..\data\raw\movies.csv')
ratings = pd.read_csv(r'..\data\raw\ratings.csv')

In [3]:
movies.head(10)

                                 Film      Genre  movie_id
0          Zack and Miri Make a Porno    Romance         1
1                     Youth in Revolt     Comedy         2
2  You Will Meet a Tall Dark Stranger     Comedy         3
3                        When in Rome     Comedy         4
4               What Happens in Vegas     Comedy         5
5                 Water For Elephants      Drama         6
6                              WALL-E  Animation         7
7                            Waitress    Romance         8
8                 Waiting For Forever    Romance         9
9                     Valentine's Day     Comedy        10

In [4]:
movies['Genre'].unique()

array(['Romance', 'Comedy', 'Drama', 'Animation', 'Fantasy', 'Romence',
       'Comdy', 'Action', 'romance', 'comedy'], dtype=object)

In [5]:
movies['Genre']=movies['Genre'].str.lower()
movies['Genre']=movies['Genre'].apply(lambda x: 'comedy' if x == 'comdy' else x)
movies['Genre']=movies['Genre'].apply(lambda x: 'romance' if x == 'romence' else x)
movies['Genre'].unique()

array(['romance', 'comedy', 'drama', 'animation', 'fantasy', 'action'],
      dtype=object)

In [6]:
movies.duplicated().unique()

array([False])

In [7]:
movies['Genre'].value_counts()

Genre
comedy       43
romance      15
drama        13
animation     4
fantasy       1
action        1
Name: count, dtype: int64

### Statistical description

In [8]:
#descripcion estadistica
ratings.describe()

                id     Ratings    movies_id
count  1000.000000  1000.00000  1000.000000
mean    255.676000     2.98100    40.009000
std     143.280342     1.42642    21.736775
min       1.000000     1.00000     1.000000
25%     135.750000     2.00000    21.000000
50%     260.000000     3.00000    41.000000
75%     381.000000     4.00000    59.000000
max     503.000000     5.00000    77.000000

In [9]:
movies.to_csv(r'..\data\interim\clean_movies.csv', index=False)