In [24]:
import pandas as pd
import numpy as np

In [25]:
sim_mtx = np.genfromtxt(r'..\data\processed\sim_mtx.csv', delimiter=',')
#sim_mtx

In [26]:
def user_ident(user):
    try:
        return sim_mtx[user]
    except:
        return 'Inserte un nÃºmero correcto'

In [27]:
def get_similar(user):
    user = user_ident(user)
    array = user[(user > 0) & (user < 0.999)]
    array= np.sort(array)[::-1]
    array = np.round(array, 2)
    return list(array)

get_similar(200)

[0.71, 0.62, 0.62, 0.4, 0.31]

In [28]:
def get_index(user):
    #get_user = user_ident(user)   
    index_list = get_similar(user)
    #return index_list
    indices_totales = []
    for i in index_list:        
        indices = np.where(np.isclose(sim_mtx[user], i, atol=0.01))
        indices_totales.append(indices)
    indices_totales = indices_totales[0:5]
    indices_totales = np.hstack(indices_totales)
    valores_unicos = list(np.unique(indices_totales))
    return valores_unicos
get_index(200)

[6, 10, 213, 226, 265]

In [29]:
ratings = pd.read_csv(r'..\data\raw\ratings.csv')
movies = pd.read_csv(r'..\data\interim\clean_movies.csv')

In [30]:
def get_rows(user):
    rows = get_index(user)
    fila = ratings.iloc[rows]
    return fila
get_rows(200)

      id  Ratings  movies_id
6     55        3         33
10   438        5         31
213  241        4         49
226  377        4         31
265  342        1         19

In [31]:
fila = ratings.iloc[[6, 10, 213, 226, 265]]
fila

      id  Ratings  movies_id
6     55        3         33
10   438        5         31
213  241        4         49
226  377        4         31
265  342        1         19

In [32]:
def get_movies(user):
    rows = get_rows(user)
    id_=[]
    for i in rows['movies_id']:
        id_.append(i)
    return id_
get_movies(200)

[33, 31, 49, 31, 19]

In [33]:
id_=[]
for i in fila['movies_id']:
    id_.append(i)
id_

[33, 31, 49, 31, 19]

In [35]:
def recommender(user):
    movies_index = get_movies(user)
    recomendacion = movies[movies['movie_id'].isin(movies_index)]
    recomendacion = recomendacion[['Film', 'Genre']]
    #recomendacion = recomendacion.reset_index(drop=True)
    return recomendacion
recommender(93)

                           Film   Genre
14  The Twilight Saga: New Moon   drama
32           Over Her Dead Body  comedy
36              No Reservations  comedy
51               License to Wed  comedy
75                   27 Dresses  comedy